{% extends 'base/base.html'%}

{% block title %}Task Manager App | Services{% endblock title %}

{% block content %} 

<div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Our Services</h6>
            <h4>Task Manger Web App <em>Provides</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="../../static/assets/images/service-icon-01.png" alt=""></span>
                        UI/UX
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="../../static/assets/images/service-icon-02.png" alt=""></span>
                        Robust &amp; Fast
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="../../static/assets/images/service-icon-03.png" alt=""></span>
                        Authorization
                      </div>
                    </div>
                    <div>
                      <div class="thumb">                 
                        <span class="icon"><img src="../../static/assets/images/service-icon-04.png" alt=""></span>
                        Authentication
                      </div>
                    </div>
                    <div class="last-thumb">
                      <div class="thumb">                 
                        <span class="icon"><img src="../../static/assets/images/service-icon-01.png" alt=""></span>
                        Free To Use
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-lg-12">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Amazing UI &amp; UX Design </h4>
                                <p>User Interface (UI) and User Experience (UX) are crucial aspects of a website that directly impact how users interact with and perceive the site. Here are some key features of UI/UX in a website:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Responsive Design</span> <span><i class="fa fa-check"></i> Intuitive Navigation</span> <span><i class="fa fa-check"></i> Visual Hierarchy</span>
                                  <span><i class="fa fa-check"></i> Color Palette</span> <span><i class="fa fa-check"></i> Fast Loading Speed</span> <span><i class="fa fa-check"></i> Accessible Design</span></div>
                               
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="https://cdn.dribbble.com/users/795597/screenshots/5885477/ui-ux_design8.gif" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Complete Robust &amp; Fast</h4>
                                <p>A robust website is one that is reliable, stable, and capable of handling a wide range of user interactions and traffic volumes without experiencing significant downtime or performance issues. Here are some key features of a robust website:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i>High Availability</span> <span><i class="fa fa-check"></i> Scalability</span> <span><i class="fa fa-check"></i> Performance Optimization</span>
                                  <span><i class="fa fa-check"></i> Security Measures</span> <span><i class="fa fa-check"></i> Compliance with Standards</span> <span><i class="fa fa-check"></i> Disaster Recovery Plan</span></div>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="https://cdn-images-1.medium.com/v2/resize:fit:1200/1*uRb9it3jWzvhR_oWbG62ew.gif" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>User Specific Authorization</h4>
                                <p>Authorization is a critical aspect of website security, ensuring that users have appropriate access to resources and functionalities based on their roles and permissions. Here are some key features of authorization in a website:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Role-Based Access Control (RBAC)</span> <span><i class="fa fa-check"></i> Cross-Site Authorization</span> <span><i class="fa fa-check"></i> Revocation and Delegation</span>
                                  <span><i class="fa fa-check"></i> Dynamic Authorization Policies</span> <span><i class="fa fa-check"></i> Audit Logging</span> <span><i class="fa fa-check"></i> Integration with External Identity Providers</span></div>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="https://miro.medium.com/v2/resize:fit:1400/1*QtX9tWcVWv1YFYr_rFEjbA.gif" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>User Specific Authentication</h4>
                                <p>
                                  Authentication is the process of verifying the identity of users accessing a website, ensuring that they are who they claim to be. Here are some key features of authentication in a website:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Username and Password Authentication</span> <span><i class="fa fa-check"></i> Multi-Factor Authentication (MFA)</span> <span><i class="fa fa-check"></i> Single Sign-On (SSO)</span>
                                  <span><i class="fa fa-check"></i> Passwordless Authentication</span> <span><i class="fa fa-check"></i> Session Management</span> <span><i class="fa fa-check"></i> User Consent and Privacy</span></div>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCaEY8dn2MzUcwYQzJq-g5QEH9-ec86pcmaenNuvhaBg&s" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>Open Source &amp; Accessible For All</h4>
                                <p>When building a website using open-source free software, there are several key features and benefits that you can leverage:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Cost-Effectiveness</span> <span><i class="fa fa-check"></i> Community Support</span> <span><i class="fa fa-check"></i> Freedom and Independence</span>
                                  <span><i class="fa fa-check"></i> Data Info</span> <span><i class="fa fa-check"></i> Interoperability</span> <span><i class="fa fa-check"></i> Flexibility and Customization</span></div>
                                
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="https://i.giphy.com/XZfusKPWc9YX8VZtLJ.webp" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock content %} 