{% extends 'base/base.html' %}

{% block title %}Task Manager App | New Task{% endblock title %}

{% block content %}


<div class="container-fluid pt-5">
    <div class="container pt-5">

        <div class="w-75 mt-5 mx-auto shadow-lg mb-5 bg-light rounded">
            <div class="header-bar">
                <a href="{% url 'tasks' %}">&#8592; Back</a>
            </div>


            <div class="card-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input class="custom-button" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}