{% extends 'base/base.html' %}

{% block title %}Task Manager App | Personal Task List{% endblock title %}

{% block content %}



<div class="container-fluid pt-5">
    <div class="container mt-5 pt-5">

      <div class="w-75 mt-5 mx-auto shadow-lg mb-5 bg-light rounded">
        <div class="header-bar">
            <div>
                <h1>Hello {{request.user|title}}</h1>
                <h3 class="m-0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
            </div>
            {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-light">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        
        
        <div id="search-add-wrapper">
            <form action="" method="GET" class="d-flex justify-content-around gap-1">
                <input placeholder="Search your tasks" class="border border-2"  type="text" name="search-area" value="{{search_input}}">
                <input class="custom-button " type="submit" value="Search">
            </form>
            <!-- Add our daily task using plus symbol -->
            <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
        </div>
        
        
        <div class="task-items-wrapper">
            {% for task in tasks %}
            <div class="task-wrapper">
                {% if task.complete %}
                <div class="task-title">
                    <div class="task-complete-icon"></div>
                    <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
                </div>
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                {% else %}
                <div class="task-title">
                    <div class="task-incomplete-icon"></div>
                    <a href="{% url 'task-update' task.id %}">{{task}}</a>
                </div>
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
                {% endif %}
        
            </div>
        
            {% empty %}
            <h3>No data found from list</h3>
            {% endfor %}
        </div>
      </div>
    </div>
</div>




{% endblock content %}