{% extends 'base/base.html'%}

{% block title %}Task Manager App | Team{% endblock title %}

{% block content %}

<div id="portfolio" class="our-portfolio section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
          <h6>Dedicated Team Member Details</h6>
          <h4>See Our Team <em>Portfolio</em></h4>
          <div class="line-dec"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
    <div class="row">
      <div class="col-lg-12">
        <div class="loop owl-carousel">
          <div class="item">
            <div class="our-team">
              <img src="https://avatars.githubusercontent.com/u/108722554?v=4">
              <div class="team-content">
                <h3 class="title">Deepak Gangwani</h3>
                <span class="post">Team Leader</span>
                <ul class="social">
                  <li><a target="_blank" href="https://github.com/Deepak-Gangwani"><i class="fa-brands fa-github"></i></a>
                  </li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/deepak-gangwani/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
                  <li>
                    <a href="mailto:deepakgangwani512@gmail.com">
                      <i class="fa-brands fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="our-team">
              <img src="../../static/assets/images/payal-gehlot.jpeg">
              <div class="team-content">
                <h3 class="title">Payal Gehlot</h3>
                <span class="post">Team Member</span>
                <ul class="social">
                  <li><a target="_blank" href="https://github.com/Deepak-Gangwani"><i class="fa-brands fa-github"></i></a>
                  </li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/deepak-gangwani/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
                  <li>
                    <a href="mailto:deepakgangwani512@gmail.com">
                      <i class="fa-brands fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="our-team">
              <img src="../../static/assets/images/zen-ali2.jpeg">
              <div class="team-content">
                <h3 class="title">Zen Ali</h3>
                <span class="post">Team Member</span>
                <ul class="social">
                  <li><a target="_blank" href="https://github.com/Deepak-Gangwani"><i class="fa-brands fa-github"></i></a>
                  </li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/deepak-gangwani/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
                  <li>
                    <a href="mailto:deepakgangwani512@gmail.com">
                      <i class="fa-brands fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="our-team">
              <img src="../../static/assets/images/pukhraj.jpeg">
              <div class="team-content">
                <h3 class="title">Pukhraj</h3>
                <span class="post">Team Member</span>
                <ul class="social">
                  <li><a target="_blank" href="https://github.com/Deepak-Gangwani"><i class="fa-brands fa-github"></i></a>
                  </li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/deepak-gangwani/"><i
                        class="fa-brands fa-linkedin"></i></a></li>
                  <li>
                    <a href="mailto:deepakgangwani512@gmail.com">
                      <i class="fa-brands fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <h1 class="fw-bolder text-center">Mentor Details</h1>
      <div class="d-flex justify-content-center">
       
        <div class="our-team">
          <img src="https://avatars.githubusercontent.com/u/64896622?v=4">
          <div class="team-content">
            <h3 class="title">Mr. Himanshu Gulati</h3>
            <span class="post">Web Developer</span>
            <ul class="social">
              <li><a target="_blank" href="https://github.com/iamhimanshugulati"><i class="fa-brands fa-github"></i></a>
              </li>
              <li><a target="_blank" href="https://www.linkedin.com/in/ihimanshugulati/"><i
                class="fa-brands fa-linkedin"></i></a></li>
              <li>
                <a href="mailto:himanshugulati138@gmail.com">
                  <i class="fa-brands fa-google"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
     
    </div>
  </div>
</div>

{% endblock content %}